<%= @restaurant.name %>
<br>
<% @restaurant.rating.times do %>
    <%= "☆" %>
<% end %>
<br>
<%= @restaurant.budget.range %>
<ul>
    <li><%= link_to "店頭トップ", "/show/#{@restaurant.id}" %></li>
    <li><%= link_to "メニュー・コース", "/show/#{@restaurant.id}/menu" %></li>
    <li><%= link_to "写真", "/show/#{@restaurant.id}/pictures" %></li>
    <li><%= link_to "口コミ", "/show/#{@restaurant.id}/comments" %></li>
    <li><%= link_to "地図", "/show/#{@restaurant.id}/map" %></li>
</ul>