<% @restaurants.each do |restaurant| %>
<ul>
    <li><%=link_to restaurant.name, "/show/#{restaurant.id}" %></li>
    <li><%= restaurant.title %></li>
    <% restaurant.rating.times do %>
    <%= "☆" %>
    <% end %>
 
    <li><%= restaurant.budget.range %></li>
</ul>


    
<% end %>
<% if @restaurants.blank? %>
    <%= "申し訳ありませんが、検索結果がありません。\n条件を変えてお試しください" %>
<% end %>